{{#each erro}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<h1>Cadastro de usuarios</h1>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/cadastro" method="post">
            <div class="row g-3 align-items-center mt-3">
                <div class="col-auto aling-items-center">
                    <label for="nome" class="col-form-label">Nome</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="nome" class="form-control" aria-labelledby="nome" value="{{usuario.nome}}" >
                </div>
                <div class="col-auto">
                    <span id="nome" class="form-text">
                        Digite seu nome.
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-2">
                <div class="col-auto">
                    <label for="sobrenome" class="col-form-label">Sobrenome</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="sobrenome" class="form-control " aria-labelledby="sobrenome" value="{{usuario.sobrenome}}" required>
                </div>
                <div class="col-auto">
                    <span id="sobrenome" class="form-text">
                        Digite seu sobrenome
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-2">
                <div class="col-auto">
                    <label for="email" class="col-form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input type="email" id="email" name="email" class="form-control " aria-labelledby="email" value="{{usuario.email}}" required>
                </div>
                <div class="col-auto">
                    <span id="email" class="form-text">
                        Digite seu E-Mail
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-2">
                <div class="col-auto">
                    <label for="senha" class="col-form-label">Senha</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="senha" name="senha" class="form-control" aria-labelledby="senha" required>
                </div>
                <div class="col-auto">
                    <span id="senha" class="form-text">
                        Crie uma senha
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-2">
                <div class="col-auto">
                    <label for="senha2" class="col-form-label">Confirme sua Senha</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="senha2" name="senha2" class="form-control" aria-labelledby="senha2" required>
                </div>
                <div class="col-auto">
                    <span id="senha2" class="form-text">
                        Digite a mesma senha para confirmar
                    </span>
                </div>
            </div>
            <hr class="mt-5">
            <button type="submit" class="btn btn-primary mt-3">Criar Usuario</button>
        </form>
    </div>
</div>