{{#each erro}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <form action="/usuarios/edit" method="post">
            <div class="row g-3 align-items-center mt-3">
                <div class="col-auto aling-items-center">
                    <label for="nome" class="col-form-label">Nome</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="nome" class="form-control" value="{{usuario.nome}}" aria-labelledby="nome">
                </div>
                <div class="col-auto">
                    <span id="nome" class="form-text">
                        Digite seu nome.
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-2">
                <div class="col-auto">
                    <label for="sobrenome" class="col-form-label">Sobrenome</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="sobrenome" class="form-control " aria-labelledby="sobrenome"
                        value="{{usuario.sobrenome}}">
                </div>
                <div class="col-auto">
                    <span id="sobrenome" class="form-text">
                        Digite seu sobrenome
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-2">
                <div class="col-auto">
                    <label for="email" class="col-form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input type="email" id="email" name="email" class="form-control " aria-labelledby="email"
                        value="{{usuario.email}}">
                </div>
                <div class="col-auto">
                    <span id="email" class="form-text">
                        Digite seu E-Mail
                    </span>
                    <input type="hidden" name="id" value="{{usuario.id}}">
                </div>
            </div>
            <hr class="mt-5">
            <button type="submit" class="btn btn-primary mt-3">Atualizar</button>
            <button class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#modalExcluir"
                type="button">Deletar</button>
            <a href="/usuarios"><button type="button" class="btn btn-secondary mt-3">Voltar</button></a>
    </div>

    </form>
</div>
</div>

<!-- MODAL EXCLUIR -->
<div class="modal" id="modalExcluir" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETAR: {{usuario.nome}} {{usuario.sobrenome}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <form action="/usuarios/deletar/{{usuario.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>