<table class="table">
  <thead>
    <tr>
      <th scope="col">Pedido</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Pagamento</th>
      <th scope="col">Data</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each pedidos}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{cliente_id}}</td>
      <td>{{vlr_total}}</td>
      <td>{{pagamento_id}}</td>
      <td>{{createdAt}}</td>
      <td>{{status}}</td>
      <td><button type="button" class="btn btn-outline-info btn-sm">Consultar</button></td>
    </tr>
    {{else}}
    {{/each}}
  </tbody>
</table>