{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<h1>Cadastro Clientes</h1>

<div class="card">
    <div class="card-body">
        <form action="/clientes/cadastro" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Nome</label>
                    <input type="text" id="input" name="nome" class="form-control" placeholder="Maria" value="{{nome}}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobrenome" name="sobrenome" placeholder="Aparecida do Santos" value="{{sobrenome}}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="mariaaparecida@email.com" value="{{email}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="inputTelefone" name="telefone" placeholder="11999999999" value="{{telefone}}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCpf">CPF</label>
                    <input type="text" class="form-control" id="inputCPF" name="cpf" placeholder="90980883888" value="{{cpf}}" maxlength="11" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Endereço</label>
                <input type="text" class="form-control" id="inputAddress" name="endereco"  placeholder="Av Vinicius de Morais" value="{{endereco}}" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Número</label>
                <input type="text" class="form-control" id="inputnumero" name="numero" value="{{numero}}" placeholder="412" required>
            </div>
            <div class="form-group">
                <label for="inputBairro">Bairro</label>
                <input type="text" class="form-control" id="inputBairro" name="bairro" placeholder="Jd.apura" value="{{bairro}}">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Complemento</label>
                <input type="text" class="form-control" id="inputAddress2" name="complemento" placeholder="Apartamento, casa, sítio..." value="{{complemento}}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" name="cidade" placeholder="São Paulo" value="{{cidade}}" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">CEP</label>
                    <input type="text" class="form-control" id="inputCEP" name="cep" value="{{cep}}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Estado</label>
                    <select id="inputState" name="estado" class="form-control" >
                        <option selected hidden>Escolha...</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Enviar</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
  $(document).ready(function(){
    $('#inputTelefone').mask('(99)99999-9999');
    $('#inputCEP').mask('99999-999')
    $('#inputCPF').mask('999.999.999-99')
  });

</script>