{{#if clientes}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">TELEFONE</th>
      <th scope="col">E-MAIL</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each clientes}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{nome}} {{sobrenome}}</td>
      <td>{{telefone}}</td>
      <td>{{email}}</td>
    </tr>
    {{else}}
    {{/each}}
  </tbody>
</table>
{{else}}
  <div class="text-bg-secondary p-3"><h1 class="fs-5">Não existe clientes cadastradas</h1></div>
{{/if}}
